* { padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family:Arial, Helvetica, sans-serif;   
}

/*HEADER------------------------------------------------------*/

.header {
    width:100% ;
    size: 50%;
    background-color: rgb(0, 183, 255);
    border-radius: 10px;
    position: fixed; width: 100%; left:0px ; top:0px;
    box-shadow: 0px 4px 4px rgba(143, 143, 143, 0.8);
}

.kolomkiri1 {
    text-align: center;
    width: 300px;
    background-color: rgba(218, 218, 218, 0);
    border-right:rgba(255, 255, 255, 0.8)4px solid ;  
}


/*NAVIGASI------------------------------------------------------*/

.navigasi{
    width: 100%;
    size: 50%;
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    
  }
  .navigasi ul {
    display: inline-block; 
    list-style: none;
  }
  .navigasi li {
    text-align: center;
    float: left;
  }
  .navigasi a{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 16px;

  }
  .navigasi a:hover{ 
    border-radius: 10px;
    background-color: rgba(221, 221, 221, 0.308);
    color: rgb(0, 183, 255);
  }

/*CONTENT--------------------------------------------------------*/

.letak {
  padding: 10px;
  padding-left: 25px;
}
.text-judul {
  margin: 10px;
}
.column {
  float: left;
  width: 25%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}


.column1 {
  float: left;
  width: 20%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.judul {
  text-align: center;
  font-size: 22px;
  font-family: Verdana;
  font-style:italic;
  color: rgb(255, 255, 255);

}

   .backgroundjudul {
      width: 200px;
      background-color: rgb(0, 183, 255);
      border-radius: 9px;
      border:rgb(255, 255, 255) solid 4px;
      box-shadow: 0 4px 8px 10px rgba(165, 164, 164, 0.2);
   }

   .kotak {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .kotak:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .button {
    background-color:rgb(0, 183, 255);
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    padding: 4px 8px;
    text-decoration: none;
    margin: 4px 2px;
    display: inline-block;
  }

  /*Footer--------------------------------------------------------*/
  .footer {
    size: 50%;
    text-align: left;
    background-color: rgb(0, 183, 255);
    
  }
 .footertext {
  box-shadow: 10px 0px 10px rgba(2, 2, 2, 0.658);
   text-align: center;
   color: rgb(255, 255, 255);
 }

 /*DAFTAR GAME /ANIME ---------------------------------------------------*/
 .background-body{
   background-color: rgb(219, 219, 219);
  }
 
 .content{
   background-color: rgb(255, 255, 255);
   padding-left: 30px;
   margin-left : 40px;
   padding-right :30px;
   margin-right :40px;
   padding-bottom: 30px;  
 }

 h1 {
  font-style: italic;
  text-align: center;
  font-family:fantasy;
}
h5 {
  font-style: italic;
  text-align: center;
  font-family:fantasy;
  color: #b6b6b6;
}
 .daftar { 
  padding-top: 30px;
  box-sizing: border-box;   
}

hr{
  border: 1px solid #b6b6b6;
  width: 80%;
}

.row {
  content: "";
  display: table;
  clear: both; 
}

.judul-daftar {
  font-size: 22px;
  font-family:Arial ;
  font-style: italic;
  
}
.daftar-kiri {
  width: 66%;
  float: left;
  text-align: center;
  padding-right: 35px;
 
}

.daftar-kanan {
  font-family:Arial ;
  font-style: italic;
  width: 30%;
  float: left;
 
} 

  
.tamnel img{
  width: 100%;
  border: 5px solid rgb(0, 183, 255);
  border-radius: 5px;
}


h2 {
  text-align :center;

}

.pembatas {
  border: 3px solid rgb(0, 183, 255);
  border-radius: 5px;
}

.informasi {
  font-size: 19px;
  font-family: monospace;
  color: #727272;
  list-style-type: circle;
}

p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/*RESPONSIVE----------------------------------------------*/

@media screen and (max-width:600px) {
  .content{
    margin: 0px;
  }
  .kolomkiri1{
    margin: auto;
    border-right: none;
  }
  .column {
    width: 100%;
  }
  .column1 {
    width: 100%;
  }
   h1 {
     font-size: 22px;
   }

   .judul-daftar {
     font-size: 20px;
   }
}
@media screen and (max-width:1000px) {
  .daftar-kanan{
     width: 100%;
     }

  .informasi li{
     font-size: 17px;
   }
  .daftar-kiri{
    text-align: center;
    width: 110%;
      }

}